[submodule "deps/SFML"]
	path = deps/SFML
	url = https://github.com/SFML/SFML.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "deps/glew"]
	path = deps/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
