[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "deps/ask_libs"]
	path = deps/ask_libs
	url = https://github.com/askeladd123/ask_libs.git
[submodule "deps/SFML"]
	path = deps/SFML
	url = https://github.com/SFML/SFML.git
	branch = 2.5.x
[submodule "deps/box2d"]
	path = deps/box2d
	url = https://github.com/erincatto/box2d.git
